<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Notificaciones</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <h4 class="card-title">Notificaciones del sistema</h4> -->
                        <!-- <div class="alert alert-info">
                            <span>This is a plain notification</span>
                        </div> -->
                        <!-- <div class="alert alert-info">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                            <span>This is a notification with close button.</span>
                        </div>
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <i class="material-icons" data-notify="icon">add_alert</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                            <span data-notify="message">This is a notification with close button and icon.</span>
                        </div> -->
                        <mat-accordion>
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <i class="material-icons" data-notify="icon">notifications_active</i> Panel de Notificaciones
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Notificaciones ({{notification.length}})
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div style="width: 70%; margin-left: auto; margin-right: auto;" class="alert alert-success alert-with-icon" data-notify="container" *ngFor="let item of notification">
                                    <i class="material-icons" data-notify="icon">notifications_active</i>
                                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <i class="material-icons">delete_forever</i>
                                  </button>
                                    <span data-notify="message">Mensaje enviado por: {{item.nombre_envia}} {{item.correo_envia}}</span>
                                    <span data-notify="message">Mensaje:{{item.mensaje}}</span>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <!--  <div class="col-md-6">
                        <h4 class="card-title">Notification states</h4>
                        <div class="alert alert-info">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                            <span>
                              <b> Info - </b> This is a regular notification made with ".alert-info"</span>
                        </div>
                       <div class="alert alert-success">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                            <span>
                              <b> Success - </b> This is a regular notification made with ".alert-success"</span>
                        </div>
                        <div class="alert alert-warning">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                            <span>
                              <b> Warning - </b> This is a regular notification made with ".alert-warning"</span>
                        </div>
                        <div class="alert alert-danger">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                            <span>
                              <b> Danger - </b> This is a regular notification made with ".alert-danger"</span>
                        </div>
                        <div class="alert alert-primary">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                            <span>
                              <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
                        </div> 
                    </div>-->
                </div>
            </div>
            <div class="col-md-12">
                <div class="places-buttons">
                    <div class="card">
                        <br>
                        <div class="col-md-6 ml-auto mr-auto text-center">
                            <h4 class="card-title">
                                PANEL DE NOTIFICACIONES
                                <!-- <p class="category">Creé y envié notificaciones vía WhatsApp y Correo electronico a los participantes de cada centro de trabajo</p> -->
                            </h4>
                        </div>
                        <div class="card-body col-md-10" style="margin-left: auto; margin-right: auto;">
                            <div>
                                <form class="formProject" [formGroup]="formCreateMessage">

                                    <div style="margin-left: auto; margin-right: auto;" class="mt-3">
                                        <mat-button-toggle-group formControlName="metodo" style="margin-left: auto; margin-right: auto;" name="fontStyle" aria-label="Font Style">
                                            <mat-button-toggle value="whatsApp">WHATSAPP</mat-button-toggle>
                                            <mat-button-toggle value="correo">CORREO</mat-button-toggle>
                                            <!-- <mat-button-toggle value="msn">MENSAJE TEXTO</mat-button-toggle> -->
                                        </mat-button-toggle-group>

                                    </div>
                                    <div class="mt-5">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Selecciona la usuario</mat-label>
                                            <mat-select formControlName="users">
                                                <mat-option *ngFor="let item of listaUser" value="{{item._id}}">{{item.nombre}} {{item.apellido}} : ( {{item.correo}} )</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Asunto</mat-label>
                                            <textarea matInput formControlName="title" name="title" type="text" placeholder="Ingrese Asunto " required></textarea>
                                        </mat-form-field>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Mensaje </mat-label>
                                            <textarea matInput formControlName="message" name="message" type="text" placeholder="Ingrese Mensaje" required></textarea>
                                        </mat-form-field>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Selecciona la prioridad del mensaje</mat-label>
                                            <mat-select formControlName="estado">
                                                <mat-option value="ugente">Urgente</mat-option>
                                                <mat-option value="prioridad">Prioridad</mat-option>
                                                <mat-option value="informativa">Informativa</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <button type="submit" mat-raised-button color="warn" style="width: 100%; margin-left: auto; margin-right: auto;" (click)="createMessage()">ENVIAR MENSAJE</button>
                                    <!-- <button type="submit" mat-raised-button color="warn" style="margin-left: auto; margin-right: auto;" (click)="sendWhatsapp()">ENVIAR WHATSAPP</button> -->
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-10 ml-auto mr-auto">
                            <div class="row">
                                <!-- <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','left')">Top Left</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','center')">Top Center</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','right')">Top Right</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block" (click)="createMessage()">Crear Mensaje</button>
                                </div> -->

                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                      <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                          <div class="row">
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','left')">Bottom Left</button>
                              </div>
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','center')">Bottom Center</button>
                              </div>
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','right')">Bottom Right</button>
                              </div>
                          </div>
                      </div>
                  </div> -->
                </div>
            </div>
        </div>
    </div>
</div>